@import "../../scss/variables.scss";

.book-card {
  width: 260px;
  display: flex;
  flex-direction: column;
  border: 2px solid $colorBackgroundDark;
  padding: 5px;
  border-radius: 5px;
}

.image-block {
  height: 325px;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
}

.info-block {
  padding: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title,
.author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-size: 2rem;
}

.author {
  font-size: 1.6rem;
}

.price {
  font-size: 2.4rem;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
