@import "../../scss/variables.scss";

.books {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.control {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 600px) {
    flex-direction: column;

    & > * {
      width: 100% !important;
    }
  }
}

.search-bar {
  position: relative;
  width: 400px;
}

.icon {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: text;
  background: url("../../assets/icons/search.svg");
  opacity: 0.8;
}

.input {
  width: 100%;
  padding-right: 35px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
  width: calc($widthBookCard * 4 + 3 * 30px);
  margin: 0 auto;

  @media screen and (max-width: 1170px) {
    width: calc($widthBookCard * 3 + 2 * 30px);
  }

  @media screen and (max-width: 880px) {
    width: calc($widthBookCard * 2 + 1 * 30px);
  }

  @media screen and (max-width: 590px) {
    width: $widthBookCard;
  }
}
