@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.book {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @include mediaTablet {
    flex-direction: column;
  }
  @include mediaMobile {
    gap: 10px;
  }
}

.image {
  max-width: 300px;
  margin: 0 auto;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
  flex: 1 1;

  .top-info {
    display: flex;
    gap: 30px;
    padding: 0 20px;
  }

  @media screen and (max-width: 950px) {
    padding: 0;

    .top-info {
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  }

  @include mediaTablet {
    width: 100%;
    padding: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mediaTablet {
    gap: 10px;
  }
}

.add-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.6rem;

  @include mediaTablet {
    gap: 5px;
  }
}

.title {
  font-size: 3.2rem;

  @include mediaTablet {
    font-size: 2.8rem;
  }
}

.description {
  font-size: 1.6rem;
  line-height: 160%;
}

.price-block {
  width: 360px;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid $colorBackgroundDark1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.6rem;
  font-weight: bold;

  @include mediaDesktop {
    width: 300px;
  }

  @include mediaTablet {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 10px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-block {
  position: relative;

  &:hover {
    .input {
      border-color: $colorPrimaryLight1;
    }
  }
}

.input {
  width: 100px;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2.8px);
  top: 0;
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  margin: 1.4px;
  transition: color .3s ease,
              background-color .3s ease;

  &:hover {
    background-color: $colorPrimaryLight1;
    color: $colorContentLightMax;
  }

  &:active {
    background-color: $colorPrimaryDark;

    & ~ .input {
      border-color: $colorPrimaryLight1;
    }
  }

  &.left {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &.right {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.btn {
  margin-left: auto;
}
