$colorPrimary: #7300FF;
$colorPrimaryLight1: #943dff;
$colorPrimaryLight2: #e6d1ff;
$colorPrimaryDark: #5100B3;

$colorContent: #000000;
$colorContentLight: #4e4e4e;
$colorContentLightMax: #FFFFFF;

$colorBackground: #FFFFFF;
$colorBackgroundDark1: #ECECEC;
$colorBackgroundDark2: #e4e4e4;

// Heights
$heightHeader: 5rem;
$heightFooter: 5rem;

$sidePadding: 20px;
