$colorPrimary: #7300FF;
$colorPrimaryLight1: #943DFF;
$colorPrimaryLight2: #E6D1FF;
$colorPrimaryDark: #5100B3;

$colorContent: #000000;
$colorContentLight: #4E4E4E;
$colorContentLightMax: #FFFFFF;

$colorBackground: #FFFFFF;
$colorBackgroundDark1: #ECECEC;
$colorBackgroundDark2: #E4E4E4;

$colorSuccess: #08F000;
$colorSuccessLight: #51FF4B;
$colorSuccessDark: #07C600;

$colorError: #FF0000;

// Sizes
$widthBookCard: 260px;

// Heights
$heightHeader: 5rem;
$heightFooter: 5rem;

$sidePadding: 20px;
$sidePaddingTablet: 12px;
$sidePaddingMobile: 8px;

// Media
$widthMediaDesktop: 1024px;
$widthMediaTablet: 768px;
$widthMediaMobile: 320px;
