$colorPrimary: #7300FF;
$colorPrimaryLight1: #8E30FF;
$colorPrimaryLight2: #e6d1ff;
$colorPrimaryDark: #5100B3;

$colorContent: #000000;
$colorContentLight: #4e4e4e;
$colorContentLightMax: #FFFFFF;

$colorBackground: #FFFFFF;
$colorBackgroundDark: #ECECEC;

// Heights
$heightHeader: 5rem;
$heightFooter: 5rem;

$sidePadding: 20px;
