@import "../../scss/variables.scss";

.cart {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 100%;
  gap: 20px;
}

.top-line {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  flex: 1 1;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;

  &-image {
    height: 150px;
    width: 150px;
  }

  &-text {
    font-size: 2rem;
    opacity: 0.8;
  }
}
