@import "../../scss/variables.scss";

.footer {
  background-color: $colorBackgroundDark;
  height: $heightFooter;
  min-height: $heightFooter;
  display: flex;
  align-items: center;
  padding: 0 $sidePadding;
}

.inner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text {
  font-size: 1.6rem;
  color: $colorContentLight;
  font-weight: bold;
}
