@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.header {
  height: $heightHeader;
  min-height: $heightHeader;
  display: flex;
  align-items: center;
  padding: 0 $sidePadding;
  border-bottom: 2px solid $colorBackgroundDark1;
  position: relative;

  @include mediaTablet {
    padding: 0 $sidePaddingTablet;
  }
  @include mediaMobile {
    padding: 0 $sidePaddingMobile;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.title {
  font-size: 2.2rem;
  color: $colorContent;

  @include mediaTablet {
    font-size: 1.9rem;
  }

  @include mediaMobile {
    font-size: 1.8rem;
    width: 150px;
  }
}

.control {
  display: flex;
  gap: 15px;
  align-items: center;
}

.list {
  display: flex;
  gap: 15px;
  align-items: center;

  @include mediaTablet {
    flex-direction: column;
    position: absolute;
    bottom: -5px;
    right: -500px;
    transform: translate(0, 100%);
    background-color: $colorBackground;
    border: 2px solid $colorBackgroundDark1;
    padding: 10px;
    align-items: flex-start;
    min-width: 200px;
    z-index: 5;
    border-radius: 5px;
    transition: right .3s ease;

    &.active-burger {
      right: $sidePaddingTablet;
    }
  }

  @include mediaMobile {
    &.active-burger {
      right: $sidePaddingMobile;
    }
  }
}

.button-cart {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  padding: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s ease;
  position: relative;

  &:hover, 
  &:active {
    background-color: $colorBackgroundDark1;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -10%);
    min-width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    background-color: $colorPrimaryLight1;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.user {
  display: flex;
  gap: 5px;
  align-items: center;

  .avatar {
    height: 30px;
    width: 30px;
  }

  .name {
    font-size: 1.6rem;
  }

  @include mediaTablet {
    order: -1;
  }
}

.burger-btn {
  display: none;

  @include mediaTablet {
    border: none;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    padding: 0;

    .line {
      height: 2px;
      width: 18px;
      background-color: $colorContent;
      border-radius: 2px;
      position: relative;
      &::before, &::after {
        content: '';
        left: 0;
        height: 2px;
        width: 18px;
        background-color: $colorContent;
        border-radius: 2px;
        position: absolute;
        transition: top 0.2s 0.3s ease, 
                bottom 0.2s 0.3s ease,
                width 0.1s 0.2s ease,
                transform 0.2s ease,
                background-color .3s ease;
      }
      &::before {
        top: -4px;
      }
      &::after {
        bottom: -4px;
      }

    }
    &.active-burger {
      .line {
        background-color: transparent;
        transition: background-color 0.1s 0.3s ease;
        &::before, &::after {
          background-color: $colorContent;
          left: -1px;
          width: 20px;
        }
        &::before {
          transform: rotate(45deg);
          top: 0;
          transition: top 0.3s ease,
                      left 0.1s 0.3s ease,
                      width 0.1s 0.3s ease,
                      transform 0.3s 0.4s ease,
                      background-color .3s ease;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 0;
          transition: bottom 0.3s ease,
                      left 0.1s 0.3s ease,
                      width 0.1s 0.3s ease,
                      transform 0.3s 0.4s ease,
                      background-color .3s ease;
        }
      }
    }
  }
}
