@import "../../scss/variables.scss";

.header {
  height: $heightHeader;
  min-height: $heightHeader;
  display: flex;
  align-items: center;
  padding: 0 $sidePadding;
  border-bottom: 2px solid $colorBackgroundDark1;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2.2rem;
  color: $colorContent;
}

.control {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button-cart {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  padding: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s ease;
  position: relative;

  &:hover, 
  &:active {
    background-color: $colorBackgroundDark1;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -10%);
    min-width: 20px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    background-color: $colorPrimaryLight1;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.user {
  display: flex;
  gap: 5px;
  align-items: center;

  .avatar {
    height: 30px;
    width: 30px;
  }

  .name {
    font-size: 1.6rem;
  }
}
