@import "./scss/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;

  @include mediaTablet {
    font-size: 9px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
